<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head -%>
</head>

<body>
    <%- include ../partials/header -%>
    <nav>
        <a href="/">Powrót</a>
    </nav>
    <main>
    <h2>Burgery</h2>
    <ul>
        <% products.jedzenie.forEach(element =>{ %>
        <li><a href=/products/food/<%=element._id%>><%= element.nazwa %></a> - <%=element.cena%>zł
        </li>
        <%})%>
    </ul>
    <button id="addFoodBtn">Dodaj burgera</button>
    <form action="products/food" method="post" id="addFoodForm">
        <label for="nazwa">Nazwa </label>
        <input type="text" name="nazwa" id="nazwa">
        <br>
        <label for="cena">Cena </label>
        <input type="number" name="cena" id="cena" step="0.01">
        <br>
        <h4>Składniki: </h4>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="wolowina" value="wołowina">
            <label for="wolowina">Wołowina</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="cheddar" value="ser cheddar">
            <label for="cheddar">Ser cheddar</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="salata" value="sałata">
            <label for="salata">Sałata</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="pomidor" value="pomidor">
            <label for="pomidor">Pomidor</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="ogorek" value="ogórek">
            <label for="ogorek">Ogórek</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="czerwona_cebula" value="czerwona cebula">
            <label for="czerwona_cebula">Czerwona cebula</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="prazona" value="prażona cebulka">
            <label for="prazona">Prażona cebulka</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="bekon" value="bekon">
            <label for="bekon">Bekon</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="chorizo" value="chorizo">
            <label for="chorizo">Chorizo</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="jalapeno" value="jalapeño">
            <label for="jalapeno">Jalapeño</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="rukola" value="rukola">
            <label for="rukola">Rukola</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="skladniki" id="salsa" value="salsa z pomidorów">
            <label for="salsa">Salsa z pomidorów</label>
        </div>

        <input type="submit" value="Prześlij">
    </form>

    <h2>Napoje</h2>
    <ul>
        <% products.picie.forEach(element =>{ %>
        <li><a href=/products/drink/<%=element._id%>><%= element.nazwa %></a> - <%=element.cena%>zł
        </li>
        <%})%>
    </ul>
    <button id="addDrinkBtn">Dodaj napój</button>
    <form action="/products/drink" method="post" id="addDrinkForm">
        <div>
            <label for="nazwa">Nazwa</label>
            <input type="text" id="nazwa" name="nazwa">
        </div>
        <div>
            <label for="cena">Cena</label>
            <input type="number" id="cena" name="cena" step="0.01">
        </div>
        <div>
            <label for="pojemnosc">Pojemność</label>
            <input type="number" id="pojemnosc" name="pojemnosc" step="0.01">
        </div>

        <input type="submit" value="Prześlij">
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    </main>
    <%- include ../partials/footer%>
</body>

</html>